html,
body {
  height: 100%;
}

img {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
}

.carta {
  float: right;
  width: 314px;
  height: 458px;
  object-fit: unset;
  opacity: 0.5;
  transition: 0.7s;
  margin-bottom: 70px;
}

.carta:hover{
  transition: 0.7s;
  opacity: 1;
  box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;
}

#star {
  max-height: 22px;
  margin-top: 9px;
}

#atributo {
  float: left;
  max-width: 36px;
  margin: 4px 10px 0 0;
}

.footer-container {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  background-color: #073642;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.footer-container a{
  text-decoration: none;
}

@media (max-width: 991.98px) {
  .carta {
    float: none !important;
    margin-bottom: 15px;
  }
}

@media (max-width: 400px) {
  .carta {
    width: 100%;
    height: auto;
  }
}